<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Basic reader</title>
</head>
<style>
    table, tr, td {
        border: 1px solid black;
    }
</style>
<body>
Nasze miejsce:
<table>
    <th:block th:each="opt : ${naszemiejsceMenu}">
        <tr>
            <td th:text="${opt.name}" /></td>
            <td th:text="${opt.option}" /></td>
            <td th:text="${opt.price}" /></td>
        </tr>
    </th:block>
</table>
</body>
</html>